<div>
  <app-navbar></app-navbar>
  <br />
  <br />
</div>

<div class="uk-container">
  <nav class="uk-navbar-container-default" uk-navbar>
    <h2>Titulo do Card</h2>
  </nav>
</div>

<div class="uk-container">
  <div uk-grid>
    <div class="uk-width-2-4">
      <div class="uk-card uk-card-secondary">
        <div class="uk-card-media-top">
          <br />
          <p class="uk-text-center">
            <img
              src="https://placehold.it/250"
              class="uk-border-circle"
              alt=""
            />
          </p>
        </div>
        <div class="uk-card-body">
          <h3 class="uk-card-title">Titulo</h3>
          <p>Descricao</p>
          <p>
            <a href="#" class="uk-button uk-button-default">
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: pencil"
              ></span>
              Comentar
            </a>
          </p>
        </div>
      </div>
    </div>
    <article class="uk-comment uk-comment-primary" role="comment">
      <header class="uk-comment-header">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
          <div class="uk-width-expand">
            <h4 class="uk-comment-title uk-margin-remove">
              <a class="uk-link-reset" href="#">Author</a>
            </h4>
            <ul
              class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top"
            >
              <li><a href="#">12 days ago</a></li>
            </ul>
          </div>
        </div>
      </header>
      <div class="uk-comment-body">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
          ipsum dolor sit amet.
        </p>
      </div>
    </article>
  </div>
</div>
