<div class="uk-flex-center" uk-grid>
  <div class="uk-width-1-3@m">
    <p class="uk-text-center uk-margin-large-top uk-margin-medium-bottom">
      <span>
        <img src="assets/images/ifood-43.png" style="width: 10%; height: 10%;">
      </span>
    </p>


    <form>
      <div class="uk-card uk-card-primary uk-card-body uk-box-shadow-small" id="reset-color">
        <h3 class="uk-card-title">Restaurar Senha</h3>

        <div class="uk-margin">
          <input class="uk-input uk-form-large" formControlName="email" type="email" placeholder="Email">
        </div>

        <div class="uk-margin uk-text-right">
          <button class="uk-button uk-button-default" id="button-reset" (click)="reset()">Restaurar</button>
        </div>

      </div>
    </form>

    <p class="uk-text-center">
      <a [routerLink]="['/login']" class="uk-button uk-button-link">Cancelar</a>
    </p>

  </div>
</div>
