<div>
  <app-navbar></app-navbar>
  <br />
  <br />
</div>

<div class="uk-container">
  <nav class="uk-navbar-container-default" uk-navbar>
    <h2 style="color: #3e3e42">Meus Cards</h2>
  </nav>
</div>

<div class="uk-container">
  <div uk-grid>
    <div
      class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin card-style"
      uk-grid
    >
      <div class="uk-card-media-left uk-cover-container">
        <img src="https://placehold.it/250" uk-cover />
        <canvas width="600" height="400"></canvas>
      </div>
      <div>
        <div class="uk-card-body">
          <h3 class="uk-card-title card-title">Media Left</h3>
          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
