<div
  id="modal-full"
  class="uk-modal-full"
  style="background-color: #f5f5f5"
  uk-modal
>
  <div class="uk-modal-dialog">
    <button
      class="uk-modal-close-full uk-close-large"
      type="button"
      uk-close
    ></button>

    <div class="uk-grid-collapse uk-child-width-1-2@s" uk-grid>
      <div
        class="uk-background-cover"
        style="background-image: url({{ card.imagePortrait }});"
        uk-height-viewport
      ></div>
      <div class="uk-padding-large">
        <h1>{{ card.title }}</h1>
        <p>{{ card.description }}</p>
        <p class="address-style">{{ formatAddress() }}</p>

        <form [formGroup]="form">
          <div class="uk-margin input-button-container">
            <input
              class="uk-input uk-form-width-large"
              type="text"
              placeholder="Digite seu comentário aqui!"
              aria-label="Large"
              formControlName="comment"
              class="uk-input uk-form-large"
              [ngClass]="{ 'uk-form-danger': !form.controls['comment'].valid }"
            />
            <button class="button-57" role="button" (click)="comment()">
              <span class="text">Comentar</span><span>Faça a diferença!</span>
            </button>
          </div>
        </form>

        <div class="comments-container" *ngIf="true">
          <ul class="uk-comment-list">
            <li>
              <article
                class="uk-comment uk-visible-toggle"
                tabindex="-1"
                role="comment"
              >
                <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-expand">
                      <h4 class="uk-comment-title uk-margin-remove">
                        <a class="uk-link-reset" href="#">Author</a>
                      </h4>
                      <p class="uk-comment-meta uk-margin-remove-top">
                        <a class="uk-link-reset" href="#">12 days ago</a>
                      </p>
                    </div>
                  </div>
                  <div
                    class="uk-position-top-right uk-position-small uk-hidden-hover"
                  >
                    <a class="uk-link-muted" href="#">Reply</a>
                  </div>
                </header>
                <div class="uk-comment-body">
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
                    diam nonumy eirmod tempor invidunt ut labore et dolore magna
                    aliquyam erat, sed diam voluptua. At vero eos et accusam et
                    justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                    sea takimata sanctus est Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </article>
              <!-- <ul>
                                <li>
                                    <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1" role="comment">
                                        <header class="uk-comment-header uk-position-relative">
                                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                                    <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                                                </div>
                                            </div>
                                            <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                                        </header>
                                        <div class="uk-comment-body">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </article>
                                </li>
                                <li>
                                    <article class="uk-comment uk-visible-toggle" tabindex="-1" role="comment">
                                        <header class="uk-comment-header uk-position-relative">
                                            <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                                <div class="uk-width-auto">
                                                    <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                                                </div>
                                                <div class="uk-width-expand">
                                                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                                    <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                                                </div>
                                            </div>
                                            <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                                        </header>
                                        <div class="uk-comment-body">
                                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                                        </div>
                                    </article>
                                </li>
                            </ul> -->
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
