<div>
  <app-navbar></app-navbar>
</div>

<div class="default-body">
  <div class="uk-container">
    <nav class="uk-navbar-container-default" uk-navbar>
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="uk-active">Solidariedade Anonima</li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li class="uk-active">
            <a href="#modal-sections" uk-toggle>
              <span
                class="uk-icon uk-margin-small-right"
                uk-icon="icon: plus"
              ></span>
              Adicionar
              <app-add-card-modal></app-add-card-modal>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="uk-container">
    <div uk-grid>
      <div class="uk-width-2-4" *ngFor="let card of cardPrincipal">
        <div
          class="uk-card uk-card-default uk-width-1-1@m"
          style="text-align: center; border-radius: 10px;"
        >
          <div style="height: 500px;">
            <div class="uk-card uk-card-body">
              <h3 class="uk-card-title">{{ card.title }}</h3>
            </div>

            <div class="uk-card-body" style="margin-top: 50px; position: relative;">
              <div class="line"></div>
              <div class="seal"></div>
              <div class="seal-content" [ngStyle]="{'background-color': getRandomColor()}"> ABRIR </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
