.default-body {
    padding-bottom: 20px;
}

.body-card-style {
    background-color: #36486b;
}

.body-button-style {
    background-color: #e6e2d3;
}

.body-button-style:hover {
    color: #bdc8cc;
    background-color: #484f4f;
    box-shadow: inset 0 0 0 2px white;
}

.body-button-style:active {
    transform: scale(0.98);
    box-shadow: inset 3px 2px 22px 1px #fefbd8;
}

.body-button-div {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.card-title {
    color: #deeaee;
}

.card-description {
    color: #bdc8cc; 
}



.line {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #ad6e70;
    z-index: 1;
  }
  
  .seal {
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url("../../../../assets/images/border.png") no-repeat;
    background-size: 100% 100%;
    padding: 10px;
  }

  .seal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 22;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: 100% 100%;
    padding: 10px;
    /* background: #6eadab; */
    color: white;
    box-sizing: border-box;
    background-clip: padding-box;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;    
  }


  .modal-class {
    border-radius: 10px;
  }